<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">

    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
                <exclude>org\.springframework\.aop\..*</exclude>
                <exclude>org\.springframework\.security\.web\.ObservationFilterChainDecorator</exclude>
            </throwableConverter>
        </encoder>
    </appender>

    <logger name="no.nav" level="INFO"/>
    <logger name="org.apache.kafka" level="INFO"/>
    <logger name="o.a.k.clients" level="INFO"/>
    <logger name="io.netty" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON" />
    </root>
</configuration>
